.jobslist {
  & .icon {
    margin-right: 10px;
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
  }

  &__header {
    &-title {
      font-size: 20px;
      width: 100%;
      display: flex;
      font-size: 14px;
      padding: 0 20px;

      span {
        font-weight: 400;
        width: 100%;
        text-transform: capitalize;
      }
    }

    .MuiInput-root {
      pointer-events: none;
    }

    .MuiInput-input {
      text-align: right;
    }

    .MuiInput-underline:before {
      display: none;
    }
  }

  &__table.no-executions {
    table-layout: fixed;
  }

  &__inner .edit-job {
    padding: 20px;
    display: block;
    text-align: center;
    color: #5d5db9;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }
}

.icon {
  &-progress {
    color: #5d5db9;
  }

  &-success {
    color: green;
  }

  &-error {
    color: red;
  }
}

.credentials {
  &-row {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .svg-inline--fa {
      width: 15px;
      margin-right: 0;
    }

    a .svg-inline--fa {
      width: 20px;
      margin-right: 10px;
    }
  }
}

.executions {

  &__row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px 25px;
    box-sizing: border-box;

    &-item {
      text-align: right;

      &:first-child {
        text-align: left;
        margin: 0;
      }
    }
  }

  &__filter {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-item {
      width: 30%;
    }

    .MuiInput-input {
      pointer-events: none;
    }
  }
}

#filter-button {
  display: inline-block !important;
  margin: 20px auto;
}

#_type {
  display: none;
}

.one-job .MuiTableCell-root {
  border: none;
  padding: 16px 0;
}

.jobslist__table .MuiTableCell-root {
  padding: 16px;
  border-bottom: 1px solid rgba(224, 224, 224, 1);
}



/* Styles for expansion panel */

.MuiExpansionPanelDetails-root {
  flex-direction: column;

  & .executions__row:last-child {
    flex-direction: column;
  }
}

.MuiExpansionPanel-rounded:last-child {
  margin-bottom: 15px;
}

/*Styles for file list block */

.files-list__item {
  display: flex;
  align-items: center;

  & a svg {
    color: #7575ff;
  }

  & div:first-of-type {
    margin-right: 10px;
  }
}