.jobslist {
  display: flex;
  align-items: center;
  justify-content: center;

  h2 {
    margin: 0;
  }

  &__inner {
    padding: 20px 10px;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;

    a {
      display: contents;
      text-decoration: none;
    }
  }

  &__new-job {
    text-align: center;
    text-decoration: underline !important;
    display: block !important;
    width: 100%;
    margin: 10px 0;
  }

  &__header,
  &__inner {
    .MuiTable-root {
      margin-bottom: 20px;
    }
  }

  .fa-trash-alt {
    margin-right: 0;
    padding: 5px;
    color: #679d30;
    transition: .4s cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;

    &:hover {
      opacity: .8;
    }
  }
}