@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap&subset=cyrillic');

body {
  font-family: 'Open Sans', sans-serif !important;
  height: auto !important;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

html body>#main_content {
  min-height: calc(100vh - 160px);
}

.handler-text {
  text-align: center;
  font-size: 20px;
  width: 100%;
  padding: 20px 0;
}

.loading {
  margin: 0 auto;
  text-align: center;
}


.custom-button-success {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  font-family: 'Panton', 'Assistant';
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  outline: none;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: background .3s ease-in-out, border .3s ease-in-out, color .3s ease-in-out;
  transition: background .3s ease-in-out, border .3s ease-in-out, color .3s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  background: rgb(255, 255, 255);
  border-color: rgb(103, 157, 46);
  color: rgb(103, 157, 46);
}

.custom-button-success:hover {
  background: rgb(77, 118, 34);
  border-color: rgb(77, 118, 34);
  color: rgb(255, 255, 255);
}

.custom-button-success:focus {
  background: rgb(255, 255, 255);
  border-color: rgb(103, 157, 46);
  color: rgb(103, 157, 46);
}

button:disabled {
  pointer-events: none;
}