.create-job { 

  form {
    margin: 40px auto;
    max-width: 400px;
    width: 100%;

    .MuiFormControl-root {
      width: 100%;
    }
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
  }
  
}